body {
    /*background: #F1F3FA;*/
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 0 0;
    background: #ff921d;
    border-top-left-radius: 50px;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #050513;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}

.logout-btn {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-usermenu {
    margin-top: 30px;
}
.list_ops {
    margin-bottom: 30px;
}
.profile-usermenu ul li {
}

.profile-usermenu ul li:last-child {
}
#imageInput {
    color: #FFF;
    font-weight: 400;
}
.profile-usermenu ul li a {
    color: #404040;
    font-size: 15px;
    font-weight: 500;
}
#firstName, #lastName, #phone, #Country, #city, #address {
    margin: 5px 5px 5px 5px;
}
.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #000;
}

.profile-usermenu ul li.active {
}

.profile-usermenu ul li.active a {
    color: #000000;
    background-color: #ffdcb9;
    margin-left: -2px;
    font-size: 15px;
    font-weight: 500;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.LQwNvN .input-group {
    background: #F0F0E9;
    border: 0 none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
    border-radius: 5px
}