<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i>+84 0394281210</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>nhatnghiatyper@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a th:href="@{'/'}"><img th:src="@{/images/home/logo.png}" alt=""  src=""/></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a th:if="${username}" th:href="@{'/auth/account'}"><i class="fa fa-user"></i> [[${username}]]</a></li>
                            <li><a th:if="${username}" href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                            <li><a th:if="${username}" th:href="@{/check-out/}"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                            <li><a th:if="${username}" th:href="@{/cart/}"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li><a th:if="${username}" th:href="@{'/auth/logout'}"><i class="fa fa-sign-out"></i> Logout</a></li>
                            <li><a th:unless="${username}" th:href="@{'/auth/login'}"><i class="fa fa-lock"></i> Login</a></li>
                            <li><a th:unless="${username}" th:href="@{'/auth/register'}"><i class="fa fa-lock"></i> Sign up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a th:href="@{/home-page}" class="active">Home</a></li>
                            <li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a th:unless="${username}" th:href="@{/shop/}">Products</a></li>
                                    <li><a th:unless="${username}" th:href="@{'/auth/login'}">Login</a></li>
                                    <li><a th:if="${username}" th:href="@{/check-out/}">Checkout</a></li>
                                    <li><a th:if="${username}" th:href="@{/cart/}">Cart</a></li>
                                </ul>
                            </li>
                            <li><a th:href="@{/blog/}">Blog List</a></li>
                            <li><a th:href="@{/contact/}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <form th:action="@{/shop/search}">
                            <label>
                                <input type="text" name="keySearch" placeholder="Search"/>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->