<!DOCTYPE html>
<html lang="en">
<title>Error | SneakerLuxe</title>
<head th:replace="~{/commons/head}"></head>
<body>
<div class="container text-center">
  <div class="logo-405">
    <a th:href="@{/home-page}"><img th:src="@{/images/home/logo.png}" alt=""  src=""/></a>
  </div>
  <div class="content-405">
    <h1>405 Method Not Allowed</h1>
    <p>The method specified in the request is not allowed for the resource identified by the request URI.</p>
    <h2><a th:href="@{/home-page}">Bring me back Home</a></h2>
  </div>
</div>
</body>
</html>