<!DOCTYPE html>
<html lang="en">
<title>Error | SneakerLuxe</title>
<head th:replace="~{/commons/head}"></head>
<body>
<div class="container text-center">
  <div class="logo-406">
    <a th:href="@{/home-page}"><img th:src="@{/images/home/logo.png}" alt=""  src=""/></a>
  </div>
  <div class="content-406">
    <h1>406 Error - Not Acceptable</h1>
    <p>Sorry, the resource you requested is not able to be served according to the Accept headers sent in the request.</p>
    <p>Please check your request headers and try again.</p>
    <p>If you believe this is an error, please contact the website administrator.</p>
    <h2><a th:href="@{/home-page}">Bring me back Home</a></h2>
  </div>
</div>
</body>
</html>