<!DOCTYPE html>
<html lang="en">
<title>Error | SneakerLuxe</title>
<head th:replace="~{/commons/head}"></head>
<body>
<div class="container text-center">
  <div class="logo-409">
    <a th:href="@{/home-page}"><img th:src="@{/images/home/logo.png}" alt=""  src=""/></a>
  </div>
  <div class="content-409">
    <h1>409 Conflict Error</h1>
    <p>The request could not be completed due to a conflict with the current state of the target resource.</p>
    <h2><a th:href="@{/home-page}">Bring me back Home</a></h2>
  </div>
</div>
</body>
</html>