<!DOCTYPE html>
<html lang="en">
<title>Error | SneakerLuxe</title>
<head th:replace="~{/commons/head}"></head>
<body>
<div class="container text-center">
  <div class="logo-504">
    <a th:href="@{/home-page}"><img th:src="@{/images/home/logo.png}" alt=""  src=""/></a>
  </div>
  <div class="content-504">
    <h1>504 Gateway Timeout Error</h1>
    <p>Sorry, the server is taking too long to respond. This may be due to a temporary overload or maintenance.</p>
    <p>Please try again later, or contact <a href="mailto:support@example.com">support</a> if the problem persists.</p>
    <h2><a th:href="@{/home-page}">Bring me back Home</a></h2>
  </div>
</div>
</body>
</html>