<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Home | SneakerLuxe</title>
<head th:replace="~{/commons/head}">
</head><!--/head-->

<body>
<header th:replace="~{/commons/header}">
</header>
<section class="animate" id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>SNEAKER</span>LUXE</h1>
                                <h2>Elevate your sneaker game with SneakerLuxe.</h2>
                                <p>Bringing sophistication and prestige to the passion for sports shoes.</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img th:src="@{/images/home/girl1.jpg}" class="girl img-responsive slider_img" alt="" src=""/>
                                <img th:src="@{/images/home/pricing.png}" class="pricing" alt="" src=""/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>SNEAKER</span>LUXE</h1>
                                <h2>Elevate your sneaker game with SneakerLuxe.</h2>
                                <p>Experience the ultimate sophistication and prestige in sports footwear.</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img th:src="@{/images/home/girl2.jpg}" class="girl img-responsive slider_img" alt="" src=""/>
                                <img th:src="@{/images/home/pricing.png}" class="pricing" alt="" src=""/>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>SNEAKER</span>LUXE</h1>
                                <h2>Elevate your sneaker game with SneakerLuxe.</h2>
                                <p>Step up your footwear game with SneakerLuxe's refined sophistication and prestige.</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img th:src="@{/images/home/girl3.jpg}" class="girl img-responsive slider_img" alt="" src=""/>
                                <img th:src="@{/images/home/pricing.png}" class="pricing" alt="" src=""/>
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<section id="main animate">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="features_items" style="background: white!important;"><!--features_items-->
                    <h2 class="title text-center" style="margin-top: 45px;">Features Items</h2>
                    <th:block th:each="product,iterStat : ${products}" th:if="${iterStat.index < 8}">
                        <div class="col-sm-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center product_filter_small">
                                        <img th:src="@{'data:image/png;base64,' + ${product.getImage()}}"
                                             alt=""/>
                                        <h2 th:text="${#strings
                        .replace(#numbers.formatDecimal(product.getCostPrice(), 0, 'COMMA',2,'POINT'), '.00', '$')}"></h2>
                                        <p th:text="${product.getName()}"></p>
                                        <!--                                        <a th:href="@{'/product/product-details/'+${product.id}}" class="btn btn-default add-to-cart"><i class="fa fa-expand"></i>Details</a>-->
                                        <!--                                        <a th:href="@{'/cart/add/'+${product.id}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <a th:href="@{'/product/product-details/'+${product.id}}"><h2>$56</h2></a>
                                            <a th:href="@{'/product/product-details/'+${product.id}}"><p>Easy Polo Black
                                                Edition</p></a>
                                            <a th:href="@{'/product/product-details/'+${product.id}}"
                                               class="btn btn-default add-to-cart"><i
                                                    class="fa fa-expand"></i>Details</a>
                                            <a th:href="@{'/cart/add/'+${product.id}}"
                                               class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add
                                                to cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div><!--features_items-->

                <div class="category-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" style="background: #40403E!important; color: #333333!important;">
                            <li class="active">
                                <a th:href="'#' + ${categories.get(0).id}" data-toggle="tab"
                                                  th:text="${categories.get(0).name}"></a></li>
                            <th:block th:each="category, iterStat : ${categories}" th:if="${!iterStat.first}">
                                <li><a th:href="'#' + ${category.id}" data-toggle="tab"
                                       th:text="${category.getName()}"></a></li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" th:id="${categories.get(0).id}">
                            <th:block th:each="entry, iterStat : ${get4Products}" th:if="${iterStat.index == 0}">
                                <th:block th:each="product : ${entry.value}">
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a th:href="@{'/product/product-details/'+${product.id}}"><img
                                                            th:src="@{'data:image/png;base64,' + ${product.getImage()}}"
                                                            alt=""/></a>
                                                    <a th:href="@{'/product/product-details/'+${product.id}}"><h2
                                                            th:text="${#strings.replace(#numbers.formatDecimal(product.getCostPrice(), 0, 'COMMA',2,'POINT'), '.00', '$')}"></h2>
                                                    </a>
                                                    <a th:href="@{'/product/product-details/'+${product.id}}"><p
                                                            th:text="${product.getName()}"></p></a>
                                                    <a th:href="@{'/product/product-details/'+${product.id}}"
                                                       class="btn btn-default add-to-cart"><i class="fa fa-expand"></i>Details</a>
                                                    <a th:href="@{'/cart/add/'+${product.id}}"
                                                       class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>Add to cart</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                        <th:block th:each="category, iterStat : ${categories}" th:if="${!iterStat.first}">
                            <div class="tab-pane fade in" th:id="${category.id}">
                                <th:block th:each="entry, iterStat1 : ${get4Products}" th:if="${iterStat1.index != 0}">
                                    <th:block th:each="product : ${entry.value}" th:if="${entry.key==category.id}">
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <a th:href="@{'/product/product-details/'+${product.id}}"><img
                                                                th:src="@{'data:image/png;base64,' + ${product.getImage()}}"
                                                                alt=""/></a>
                                                        <a th:href="@{'/product/product-details/'+${product.id}}"><h2
                                                                th:text="${#strings.replace(#numbers.formatDecimal(product.getCostPrice(), 0, 'COMMA',2,'POINT'), '.00', '$')}"></h2>
                                                        </a>
                                                        <a th:href="@{'/product/product-details/'+${product.id}}"><p
                                                                th:text="${product.getName()}"></p></a>
                                                        <a th:href="@{'/product/product-details/'+${product.id}}"
                                                           class="btn btn-default add-to-cart"><i
                                                                class="fa fa-expand"></i>Details</a>
                                                        <a th:href="@{'/cart/add/'+${product.id}}"
                                                           class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>Add to cart</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </div><!--/category-tab-->

                <div class="recommended_items" style="background: white!important;"><!--recommended_items-->
                    <h2 class="title text-center">recommended items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <th:block th:each="product,iterStat : ${recommended}" th:if="${iterStat.index < 3}">
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <a th:href="@{'/product/product-details/'+${product.id}}"> <img
                                                            th:src="@{'data:image/png;base64,' + ${product.getImage()}}"
                                                            alt=""/></h2></a>
                                                    <a th:href="@{'/product/product-details/'+${product.id}}"><h2
                                                            th:text="${#strings.replace(#numbers.formatDecimal(product.getCostPrice(), 0, 'COMMA',2,'POINT'), '.00', '$')}"></h2>
                                                    </a>
                                                    <a th:href="@{'/product/product-details/'+${product.id}}">
                                                        <p class="recommended_slide" th:text="${product.getName()}"></p></a>
                                                    <a th:href="@{'/product/product-details/'+${product.id}}"
                                                       class="btn btn-default add-to-cart"><i class="fa fa-expand"></i>Details</a>
                                                    <a th:href="@{'/cart/add/'+${product.id}}"
                                                       class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>Add to cart</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                            <div class="item">
                                <th:block th:each="product,iterStat : ${recommended}" th:if="${iterStat.index > 2}">
                                    <div class="col-sm-4">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img th:src="@{'data:image/png;base64,' + ${product.getImage()}}"
                                                         alt=""/>
                                                    <h2 th:text="${#strings.replace(#numbers.formatDecimal(product.getCostPrice(), 0, 'COMMA',2,'POINT'), '.00', '$')}"></h2>
                                                    <p class="recommended_slide" th:text="${product.getName()}"></p>
                                                    <a th:href="@{'/product/product-details/'+${product.id}}"
                                                       class="btn btn-default add-to-cart"><i class="fa fa-expand"></i>Details</a>
                                                    <a th:href="@{'/cart/add/'+${product.id}}"
                                                       class="btn btn-default add-to-cart"><i
                                                            class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </th:block>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->
            </div>
        </div>
    </div>
</section>
<footer th:replace="~{/commons/footer}">
</footer>
</body>
</html>