<!DOCTYPE html>
<html lang="en">

<title>Home | SneakerLuxe</title>
<head th:replace="~{/commons/head}">
</head><!--/head-->
<head>
    <link th:href="@{/css/information.css}" rel="stylesheet">
</head>

<body>
<header th:replace="~{/commons/header}">
</header>
<div class="container">
    <div class="row profile">
        <div class="col-md-3 panel panel-default" style="margin-right: 5px">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->

                <form id="uploadForm" th:action="@{/auth/upload-avatar}" method="post" enctype="multipart/form-data">
                    <div class="profile-userpic">
                        <img th:src="@{'/images/user/'+${customerDTO.image}}" required="required" id="newImage"
                             class="img-responsive" alt="" src="">
                    </div>
                    <input type="file" id="imageInput" title="Select new avatar" name="image" accept="image/*">
                    <button type="submit" class="btn btn-default">Upload</button>
                </form>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        [[${customerDTO.username}]]
                    </div>
                    <div class="logout-btn">
                        <a th:href="@{/auth/logout}">Đăng xuất</a>
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="options active">
                            <a href="#" onclick="openCity('London', this)" id="default-open">
                                <i class="glyphicon glyphicon-home tablink"></i>
                                Tổng quan </a>
                        </li>
                        <li class="options">
                            <a href="#" onclick="openCity('Paris', this)">
                                <i class="glyphicon glyphicon-user tablink"></i>
                                Cập nhật tài khoản </a>
                        </li>
                        <li class="options">
                            <a href="#" onclick="openCity('Tokyo', this)">
                                <i class="glyphicon glyphicon-heart-empty tablink"></i>
                                Hóa đơn của bạn </a>
                        </li>
                        <!-- Add more option here -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8 panel panel-default" style="background-color: white;">
            <div id="London" class="tabcontent">
                <h3>Thông tin tổng quan</h3>
                <div class="form-horizontal">
                    <span>First Name: [[${customerDTO.firstName}]]</span>
                </div>
                <div class="form-horizontal">
                    <span>Last Name: [[${customerDTO.lastName}]]</span>
                </div>
                <div class="form-horizontal">
                    <span>Phone: [[${customerDTO.phoneNumber}]]</span>
                </div>
                <div class="form-horizontal">
                    <span>Email: [[${customerDTO.email}]]</span>
                </div>
                <div class="form-horizontal">
                    <span>Address: [[${customerDTO.address}]]</span>
                </div>
                <div class="form-horizontal">
                    <span>City: [[${customerDTO.city}]]</span>
                </div>
                <div class="form-horizontal">
                    <span>Country: [[${customerDTO.country}]]</span>
                </div>
                <div class="form-horizontal">
                    <span>Quantity bills: to do something</span>
                </div>
                <div class="form-horizontal">
                    <span>Total bills: to do something</span>
                </div>
            </div>
            <div id="Paris" class="tabcontent" >
                <h3>Cập nhật tài khoản</h3>
                    <form th:action="@{/auth/update}" th:object="${customerDTO}" method="post">
                        <div class="col-sm-7">
                            <label for="firstName"> First Name:
                                <input id="firstName" class="input-group" width="100%" type="text" required th:field="*{firstName}" placeholder="First name" />
                            </label>
                            <label for="lastName"> Last Name:
                                <input id="lastName" class="input-group" width="100%" type="text" required th:field="*{lastName}" placeholder="Last name" />
                            </label>
                            <label for="phone"> Phone number:
                                <input id="phone" class="input-group" width="100%" type="text" required th:field="*{phoneNumber}" placeholder="Phone number" />
                            </label>
                            <label for="Country"> Country:
                                <input id="Country" class="input-group" width="100%" type="text" required th:field="*{country}" placeholder="Country" />
                            </label>
                            <label for="city"> City:
                                <input id="city" class="input-group" width="100%" type="text" required th:field="*{city}" placeholder="City" />
                            </label>
                            <label for="address"> Address:
                                <input id="address" class="input-group" width="100%" type="text" required th:field="*{address}" placeholder="Address" />
                            </label>
                            <div>
                                <button class="btn btn-primary" type="submit">Change</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div id="map" style="width: 100%;height: 300px"></div>
                        </div>
                </form>
            </div>

            <div id="Tokyo" class="tabcontent">
                <h3>Tab hóa đơn</h3>
                <h3>..</h3>
                <h3>..</h3>
                <h3>..</h3>
                <h3>..</h3>
                <h3>..</h3>
                <h3>..</h3>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{/commons/footer}">
</footer>
<script type="text/javascript" th:src="@{/js/information.js}"></script>
<script>
    let map;
    let marker;
    function initMap(callback) {
        map = new google.maps.Map($("#map")[0], {
            zoom: 8,
        });

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    map.setCenter(pos);
                    marker = new google.maps.Marker({
                        position: pos,
                        map: map,
                    });
                    getLocationName(pos.lat, pos.lng);
                },
                () => {
                    handleLocationError(true, map.getCenter());
                }
            );
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, map.getCenter());
        }

        // Add a click listener to the map to allow the user to pick a new location
        map.addListener("click", (event) => {
            const lat = event.latLng.lat();
            const lng = event.latLng.lng();
            marker.setPosition({lat: lat, lng: lng});
            getLocationName(lat, lng);
        });
    }

    function handleLocationError(browserHasGeolocation, pos) {
        console.log(
            browserHasGeolocation
                ? "Error: The Geolocation service failed."
                : "Error: Your browser doesn't support geolocation."
        );
    }

    function getLocationName(lat, lng) {
        fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lng}`)
            .then(response => response.json())
            .then(data => {
                const locationName = data.display_name;
                const arrLocation = locationName.split(",");
                $("#Country").val(arrLocation[arrLocation.length-1])
                $("#city").val(arrLocation[arrLocation.length-3])
                $("#address").val(arrLocation.slice(0, arrLocation.length-3).join(', '))
                console.log(locationName);
            });
    }
    $("#imageInput").change(function() {
        const file = this.files[0];
        const reader = new FileReader();
        reader.onload = function(e) {
            $("#newImage").attr("src", e.target.result);
        }
        reader.readAsDataURL(file);
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>
</body>

</html>